@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body{
    background-image: linear-gradient(to right, #b084db, #1d809c);
    color: white;
    justify-content: center;
    align-items: center;
}

.navbar{
    justify-content: center;
    display: flex;
}
.navbar-brand{
    justify-content: center;
    display: flex;
}

.container{
    width: 200px;
    
    border: 3px solid white;
}

.card{
    margin: 10 0px;
}

.table{
    padding: 0;
    margin: 0;
    background-color: white;
    text-align: center;
    justify-content: center;
}